@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

/* Reset styles */
*, *::before, *::after {
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
}